<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
    <a href="{{ url_for('home') }}" class="navbar-brand d-flex align-items-center border-end px-4 px-lg-5">
        <img src="/img/amtelogo.png" alt="AMTEL Ltd Logo" class="amtel-logo">
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="{{ url_for('home') }}" class="nav-item nav-link {% if active_page == 'home' %}active{% endif %}">Home</a>
            <div class="nav-item dropdown">
                <a href="/#about-section" class="nav-link dropdown-toggle {% if active_page == 'career' %}active{% endif %}" data-bs-toggle="dropdown">Who we are</a>
                <div class="dropdown-menu bg-light m-0">
                    <a href="/#about-section" class="dropdown-item">About Us</a>
                    <a href="{{ url_for('careers') }}" class="dropdown-item {% if active_page == 'career' %}active{% endif %}">Career</a>
                    <a href="/terms" class="dropdown-item">Terms and Conditions</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="/#personal-products" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Personal</a>
                <div class="dropdown-menu bg-light m-0">
                    <a href="/#personal-products" class="dropdown-item">Personal Products</a>
                    <a href="/#pricing" class="dropdown-item">Pricing Plans</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="/#business-products" class="nav-link dropdown-toggle {% if active_page == 'mysms' %}active{% endif %}" data-bs-toggle="dropdown">Business</a>
                <div class="dropdown-menu bg-light m-0">
                    <a href="/#business-products" class="dropdown-item">Business Products</a>
                    <a href="{{ url_for('mysms') }}" class="dropdown-item {% if active_page == 'mysms' %}active{% endif %}">My SMS API</a>
                </div>
            </div>
            <a href="{{ url_for('contact') }}" class="nav-item nav-link {% if active_page == 'contact' %}active{% endif %}">Contact US</a>
        </div>
    </div>
</nav>
